<div id="about">
  <div id="about-us">
    <section id="about-intro">
      <h2>Acerca De Nosotros</h2>
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile><img src="../../assets/20200922_124255.jpg" alt="" id="img"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/20200922_124158.jpg" alt="" id="img"></mat-grid-tile>
        <mat-grid-tile><img src="../../assets/20200922_124248.jpg" alt="" id="img"></mat-grid-tile>
      </mat-grid-list>
      <p>Torni Tuercas Cuyuni somos una compañia con mas de 35 años de experiencia en la importación y 
        distribución al mayor de tornillos tuercas arandelas ramplugs remaches barras roscadas en asi
        como una amplia gama de herramientas de las mejores marcas y productos de ferreteria en
        Pto Ordaz y a nivel nacional... Nuestra amplia gama de productos nacionales e importados nos permite
        brindar la mejor atención, servicio, precios y calidad de los productos que comercializamos 
        (tornillos, tuercas, arandelas, remaches, ramplugs, barras roscadas acero inoxidable 304, 316 y mucho mas).</p>
    </section>
  </div>
</div>
