<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span id="logo">TORNI TUERCAS CUYUNI</span>
  <a mat-button href="https://www.google.com/" target="_blank" id="links">Productos</a>
  <a mat-button href="https://www.google.com/" target="_blank" id="links">Acerca de nosotros</a>
  <span class="example-spacer"></span>
  <div id="cart">
    <a mat-button href="https://www.google.com/" target="_blank" id="links" color="primary">
      <mat-icon id="cartIcon">
        assignment
      </mat-icon>
      Haz tu cotizacion</a>
  </div>
</mat-toolbar>
<img src="../assets/377855-PBLVQU-231.jpg" alt="AQUIFUE" id="bannerimg">
<span class="example-space"></span>

<app-products></app-products>



<router-outlet></router-outlet>