<mat-toolbar id="toolbar" color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon id="menu">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span>Inicio</span>
    </button>
    <button mat-menu-item routerLink="/products" routerLinkActive="active">
      <mat-icon>handyman</mat-icon>
      <span>Productos</span>
    </button>
    <button mat-menu-item>
      <mat-icon>groups</mat-icon>
      <span>Acerca de nosotros</span>
    </button>
    <button mat-menu-item>
      <mat-icon>contact_mail</mat-icon>
      <span>Contactanos</span>
    </button>
  </mat-menu>
  <span id="logo">TORNI TUERCAS CUYUNI</span>
  <a mat-button routerLink="/home" routerLinkActive="active" id="links">Inicio</a>
  <a mat-button routerLink="/products" routerLinkActive="active" id="links">Productos</a>
  <a mat-button routerLink="." target="_blank" id="links">Acerca de nosotros</a>
  <span class="example-spacer"></span>
  <div id="cart">
    <a mat-button href="https://www.google.com/" target="_blank" id="linkss" >
      <mat-icon id="cartIcon">
        assignment
      </mat-icon>
      Contactenos</a>
  </div>
</mat-toolbar>




<!-- <app-home></app-home> -->
<!-- <app-products></app-products> -->
<router-outlet></router-outlet>
<footer>
  <h3>Copyright © Torni-Tuercas Cuyuni</h3>
</footer>


