<!-- <mat-card>Simple card</mat-card> -->

<div class="product-title">
    <h2 id="sub-title">Productos</h2>
    <pagination-controls 
        [previousLabel]="labels.previousLabel"
        [nextLabel]="labels.nextLabel"
        (pageChange)="p = $event">
    </pagination-controls>
</div>   


<div class="content"  fxLayout="row wrap">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of products | paginate: { itemsPerPage: 2, currentPage: p }">
        <mat-card class="mat-elevation-z4">
            <mat-card-header>
                <mat-card-title>{{product.nombre}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="product.url"/>
            <mat-card-content>
                {{product.marca}}
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls>       -->
</div>
