.product-title {
    margin-bottom: 50px;
    padding-top: 8%; 
    font-size: 60px;
    padding-bottom: 40px; 
    text-align: center; 
    text-transform: uppercase; 
    line-height:1.6em;
    border-bottom: 1px solid #CCCCCC;
    margin-left: 5%;
    margin-right: 5%;
}

#spacer {
    height: 50px;
  }

mat-paginator {
    font-size: large;
    margin-bottom: 16px;
}

.product-title #sub-title {
    font-size: 32px;
    font-weight: bold;
}

p {
    font-weight: bold;
    font-size: 24px;
}

mat-card-title {
    text-transform: capitalize;
}

mat-card-content {
    display: flex;
    align-items: center;
}

.mat-card-title {
    margin-bottom: 0px;
}

.content {
    margin: 0 15px;
}
.mat-elevation-z4 {
    margin: 0 25px 25px;
}

@media screen and (min-width: 300px) and (max-width: 580px) {
    .content {
        margin: 0 0px;
    }

    .product-title {
        /* margin: 40px; */
        padding: 0px;
        text-align: center;
        padding-top: 15%; 
    }
    
    .product-title #sub-title {
        margin-right: 0px;
        
        display: inline-block;
    }
    /* .filter {
        overflow: hidden; 
        text-align: center;
    } */
}
