<div id="banner">
    <img src="../assets/20200922_124257.jpg" alt="AQUIFUE" id="bannerimg">
    <p id="bannertittle">Bienvenido a Torni-Tuercas Cuyuni</p>
</div>

<div class="product-title">
    <h2 id="sub-title">Con mas de 25 Años de experiencia</h2>
    <h3>Ofreciendo productos de calidad al mayor y detal</h3>
</div>
<div id="products">
    <h4 id="h4-title">Productos que ofrecemos</h4>
    <div id="container" fxLayout="row wrap" fxLayoutGap="0%">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Tornillos</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/tornillo.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, torinilos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="24.5%" fxFlex.xs="100%" fxFlex.sm="32%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Tuercas</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/tuercas.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, torinilos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="24.5%" fxFlex.xs="100%" fxFlex.sm="32%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Barras roscadas</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/barras.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, torinilos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="24.5%" fxFlex.xs="100%" fxFlex.sm="32%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Herramientas</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/herramientas.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, torinilos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div id="more"><button mat-raised-button id="btn-more" routerLink="/products" routerLinkActive="active">Ver listado completo</button></div>
</div>
<!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <span class="material-icons">
            store
        </span>
        <p>Tienda ubicada</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="material-icons">
            build
        </span>
        <p>Contamos con las mejores herramientas para construccion</p>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="material-icons">
            call
        </span>
        <P>nuestros telefonos son</P>
    </mat-grid-tile>
    <mat-grid-tile>
        <span class="material-icons">
            email
            </span>
            <p>Nuestros correos</p>
    </mat-grid-tile>
</mat-grid-list> -->

<div id="box">
    <a mat-raised-button href="https://www.google.com/" >Link</a>
    <a mat-raised-button href="https://www.google.com/" >Link</a>
</div>