<div id="banner">
    <img src="../assets/20200922_124257.jpg" alt="AQUIFUE" id="bannerimg">
    <p id="bannertittle">Con mas de 25 Años de experiencia ofreciendo productos de calidad al mayor y detal</p>
</div>

<!-- <div class="product-title">
    <h2 id="sub-title">Con mas de 25 Años de experiencia</h2>
    <h3></h3>
</div> -->
<div id="products">
    <h4 id="h4-title">Productos que ofrecemos</h4>
    <div id="container" fxLayout="row wrap" fxLayoutGap="0%">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Tornillos</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/tornillo.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, tornillos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="24.5%" fxFlex.xs="100%" fxFlex.sm="32%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Tuercas</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/tuercas.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, tornillos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="24.5%" fxFlex.xs="100%" fxFlex.sm="32%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Barras roscadas</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/barras.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, tornillos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="24.5%" fxFlex.xs="100%" fxFlex.sm="32%">
            <mat-card id="card">
                <mat-card-header>
                    <mat-card-title>Herramientas</mat-card-title>
                </mat-card-header>
                  <img mat-card-image src="../assets/herramientas.jpg" alt="Photo of a Shiba Inu" id="img-product">
                  <mat-card-content>
                    <p>
                      Tornillos hexagonales pavonados grado 5 u 8, zincados o de acero inoxidable, torinilos de carruaje, tornillos de drywall, tornillos allen y muchos mas.
                    </p>
                  </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div id="more"><button mat-raised-button id="btn-more" routerLink="/products" routerLinkActive="active">Ver listado completo</button></div>
</div>

<!-- <div id="box">
    <p>Torni Tuercas Cuyuni somos una compañia con mas de 35 años de experiencia en la importación y 
        distribución al mayor de tornillos tuercas arandelas ramplugs remaches barras roscadas en asi
        como una amplia gama de herramientas de las mejores marcas y productos de ferreteria en
        Pto Ordaz y a nivel nacional... Nuestra amplia gama de productos nacionales e importados nos permite
        brindar la mejor atención, servicio, precios y calidad de los productos que comercializamos 
        (tornillos, tuercas, arandelas, remaches, ramplugs, barras roscadas acero inoxidable 304, 316 y mucho mas).</p>
    <a mat-raised-button href="https://www.google.com/" >Link</a>
</div> -->